@import "../utilities/variables";
@import "../utilities/mixins";

.site-footer {
  margin: 2.5vmax auto 0;
  font-size: 2vmin;
  color: map-get($colors, fb2--dark-blue);

  .site-info {
    display: flex;
    justify-content: space-between;

    @include media__max-width(map-get($break-point, md)) {
      flex-direction: column;
    }
  } // END .site-info

  .site-info a {
    flex: 0 1 50%;
    color: map-get($colors, fb2--blue);
    display: flex;
    transition: $transition-eo;

    &:hover {
      color: map-get($colors, justice--gray);
    }

    &:last-child {
      justify-content: flex-end;

      @include media__max-width(map-get($break-point, md)) {
        justify-content: flex-start;
      }
    }
  } // END .site-info a

} // END .site-footer
