@import "../../../scss/utilities/variables";
@import "../../../scss/utilities/mixins";


.site-options-settings {
  &__wrapper {
    background-color: map-get($colors, justice--clean-white);
    width: 92%;
  }

  &__header,
  &__section {
    padding: 2rem 4rem;
  }

  &__form {
    display: flex;
    flex-direction: column;

    input {
      display: block;
      width: 100%;
    }

    p.submit input {
      height: 10vmin;
      width: 50vmin;
      font-size: 2.5vmin;
    }
  } // END &__form
} // END .site-options-settings
