@import "../../utilities/variables";
@import "../../utilities/mixins";


@import "../../universal/iconography";


.connect {
   align-self: flex-end;
   display: flex;

   ul {
     display: flex;
     justify-content: center;
     align-items: center;
   }

   &-item {
     margin-left: 2.5vmax;

     &:first-child {
       margin-left: 0;
     }
   } // END &-item

   &-item {
     .icon {
       width: auto;
       height: 1.5vmax;
       border-radius: 0.5rem;
     }
   }

}
