@import "../../utilities/variables";
@import "../../utilities/mixins";

@import "../../universal/iconography";


.site {
  &-branding {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9999;
    opacity: 0;
  }
}
